In [ ]:
#List
test=[1,3,2,4,4,"string"]
test.append(5)
test.remove(1)
del test[0:1]
test.pop()
test.append([9,9,0,0])
test.extend([11,10,13,12])
#test.clear()
test[1:5][3][0] #to get in a list of list and index
test.index("string")
#Limitation of this is it only gives the first value back, if you have 2 of the same values like 4,4, it will only give you the first one.
test=[10,3,6,4,4]
sorted(test)  #Doesn't sort original list going forward, creates a new list
#test.sort()  #sorts the original list going forward
test

[10, 3, 6, 4, 4]

In [ ]:
#Tuples
apple=tuple([1,5,3,2,"orange"])
type(apple)
apple[1]

5

In [ ]:
#Set
orange=set([1,5,2,1,12])
type(orange)
list(orange)[-1]
orange
orange.add(13)
orange.remove(12)
orange

{1, 2, 5, 13}

In [ ]:
#Dictionary
water = {"A":"blue","B":"orange","C":"red"}
water.keys()
water.values()
2 in water
2 in water.keys()
"red" in water.values()
#Remember this, how to add to a dictionary!
water["A"] #This will return "blue"
water["Z"]="purple"
water["D"]="pink" #replaces orange with pink
water.pop("D") #removes specified key

'pink'

In [ ]:
s={0:10, 1:20}
print(s)
s[2]=30
print(s)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [ ]:
student={'name':'John','age':25,'hobby':'golf'}

print(student['age'])
age = student.pop('age')
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

for key in student:
    print("keys "+key)
    
for key, value in student.items():
    print(key,value)

25
2
dict_keys(['name', 'hobby'])
dict_values(['John', 'golf'])
dict_items([('name', 'John'), ('hobby', 'golf')])
keys name
keys hobby
name John
hobby golf

In [ ]:
animals = ['cheetah', 'tiger', 'cheetah', 'lion']
total=0
for i in animals:
  if i == 'cheetah':
    total += 1
print(str(total) + 'cheetahs')

2cheetahs

In [ ]:
def km(x):
  km=1.6*x
  return km

In [ ]:
km(10)

16.0

In [ ]:
b = ['banana', 'apple', 'microsoft']
temp = b[0]
b[0] = b[2]
b[2] = temp
print(b)

['microsoft', 'apple', 'banana']

In [ ]:
a = ['banana', 'apple', 'microsoft']
for element in a:
  print(element)

banana
apple
microsoft

In [ ]:
b = [20, 10, 5]
total = 0
for e in b:
  total = total + e
print(total)

35

In [ ]:
c = list(range(1,5))
print(c)

[1, 2, 3, 4]

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
total2 = 0
for i in range(1,5):
  total2 += i
print(total2)

10

In [ ]:
print(list(range(1,8+1)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(4 % 3)

1

In [ ]:
print(6 % 3)

0

In [ ]:
total3 = 0
for i in range(1,8):
  if i % 3 == 0:
    total3 += i
print(total3)

9

In [ ]:
def add(x,y):
  add = x+y
  return add

In [ ]:
add(2,3)

5

In [ ]:
def increment(x):
  increment = x+1
  return increment

In [ ]:
increment(1)

2

In [ ]:
def hourstominutes(x):
  hourstominutes = x * 60
  return hourstominutes

In [ ]:
hourstominutes(5)

300

In [ ]:
def area(x,y):
  area = (x*y)/2
  return area

In [ ]:
area(7,4)

14.0

In [ ]:
def cube(x):
  cube = x**3
  return cube

In [ ]:
cube(10)

1000

In [ ]:
def seconds(x):
  seconds = (x*60)*60
  return seconds

In [ ]:
seconds(2)

7200

In [ ]:
def edge(x,y):
  edge = (x+y)-1
  return edge

In [ ]:
edge(8,10)

17

In [ ]:
def remainder(x,y):
  remainder = x % y
  return remainder

In [ ]:
remainder(5,5)

0

In [ ]:
def integer(x):
  integer = int(x)
  return integer

In [ ]:
integer("6")

6

In [ ]:
def days(x):
  days = x * 365
  return days

In [ ]:
days(65)

23725

In [ ]:
def parameter(x,y):
  parameter = (x*2) + (y*2)
  return parameter

In [ ]:
parameter(6,7)

26

In [ ]:
def power(x,y):
  power = x * y
  return power

In [ ]:
power(230,10)

2300

In [ ]:
def polygon(x):
  polygon = (x-2) * 180
  return polygon

In [ ]:
polygon(6)

720

In [ ]:
def exp(x,y):
  exp = x**y
  return exp

In [ ]:
exp(3,3)

27

In [ ]:
def squared(x):
  squared = x**2
  return squared

In [ ]:
squared(100)

10000

In [ ]:
def first(x):
  first = x[0]
  return first

In [ ]:
first([1,2,3,4])

1

In [ ]:
def name(x):
    if x.lower() == "darth vader":
        return "Luke I am your father"
    if x.lower() == "leia":
        return "Luke I am your sister"
    if x.lower() == "han":
        return "Luke I am your brother in law"

In [ ]:
name("darth vader")

'Luke I am your father'

In [ ]:
def vowel(x):
  y=['a','e','i','o','u']
  total = 0
  for i in x:
    if i in y:
      total += 1
  print(total)

In [ ]:
vowel("hello")

2

In [ ]:
def shuffle(x):
  name = x.split(" ")
  for i in range(1,len(name)+1):
    print(name[0-i])
    print(i)

In [ ]:
shuffle("Talha Javed Arnold")

Arnold
1
Javed
2
Talha
3

In [ ]:
def calculator(x,y,z):
    if y=="+":
        return x+z
    if y=="-":
      return x-z
    if y=="*":
      return x*z
    if y=="/":
      return x/z

In [ ]:
calculator(2,"*",10)

20

In [ ]:
test={}
test["apple"]=1
test["apple"]+=3
print(test)

{'apple': 4}

In [ ]:
def calc(x):
    days=x*365
    return days

In [ ]:
calc(65)

23725

In [ ]:
def replace(x,y):
    v=["a","e","i","o","u"]
    value=""
    for i in x:
        if i in v:
            value=value + y
        else:
            value=value+i
    return value

In [ ]:
replace('the aardvark', '!')

'th! !!rdv!rk'

In [ ]:
def ham(x,y):
    counter=0
    for i in range(len(x)):
        if x[i]!= y[i]:
            counter+=1
    return counter

In [ ]:
ham('abcde', 'abide')

1

In [ ]:
def caps(x):
    index=[]
    for i in range(len(x)):
        if  x[i] == x[i].upper():
            index.append(i)
    return index

In [ ]:
caps('uDeMy')

[1, 3]

In [ ]:
def nums(x):
    even=[]
    for i in range(1,x+1): 
        if i % 2 ==0:
            even.append(i)
    print(even)

In [ ]:
nums(8)

[2, 4, 6, 8]

In [ ]:
range(1,10)
count = 0
for i in range(1,10):
    if i % 2 ==0:
        count+=1
        print(i)
print(f"there are {count} even numbers")
#f string used here!

2
4
6
8
there are 4 even numbers

In [ ]:
def budget(x):
    budget=[]
    addition=0
    for i in x:
        addition+=i["budget"]
    return addition
    #Referring to specific key value pairs!

In [ ]:
budget([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [ ]:
def areaofcountry(x,y):
    def area(y):
        country=(y/148940000) *100
        return country
    return "{country} is {area}% of the total world's landmass".format(country=x, area=area(y))
    #Using {} in return to print out calculation in string!

In [ ]:
areaofcountry("USA", 9372610)

"USA is 6.29287632603733% of the total world's landmass"

In [ ]:
def remainder(x,y):
    subtract= x%y
    return subtract

In [ ]:
remainder(2,6)

2

In [ ]:
def card_hide(x):
    print(("***********")+x[12:])

In [ ]:
card_hide("1234123456785678")

***********5678

In [ ]:
def stutter(x):
    return x[0:2]+"... "+x[0:2]+"... "+x

In [ ]:
stutter('Talha')

'Ta... Ta... Talha'

In [ ]:
def sumfive(x):
    greater=[]
    for i in x:
        if i>5:
            greater.append(i)
    return sum(greater)

In [ ]:
sumfive([1, 5, 20, 30, 4, 9, 18])

77

In [ ]:
#NOTES

In [ ]:
test = [1,2,2,"string"]
letters = ["b","v","a","e","d","s","g"]
letters2=["r","e","w"]
test[1]
test.index("string")
test[-1:-2]

sorted(letters)

letters.append("t")
letters

print(letters+letters2)

letters.extend(letters2)
letters.pop(-1)

['b', 'v', 'a', 'e', 'd', 's', 'g', 't', 'r', 'e', 'w']

'w'

In [ ]:
letters.clear()
print(letters)

[]

In [ ]:
something=[1,2,3,5,3,2]
del something[1:3]
something

[1, 5, 3, 2]

In [ ]:
#TEST SET

In [ ]:
testset=set([1,3,2,5,2,2])
testset

{1, 2, 3, 5}

In [ ]:
testset.add(6)
testset

{1, 2, 3, 5, 6}

In [ ]:
testset.remove(5)
testset

{1, 2, 3, 6}

In [ ]:
#TUPLE -IMMUTABLE LIST

In [ ]:
testtuple=tuple([1,2,3])
testtuple

(1, 2, 3)

In [ ]:
#DICTIONARY

In [ ]:
testdictionary={1:"apple",2:"tree",3:"banana"}
#1,2,3 = keys
testdictionary.keys()
testdictionary.values()

dict_values(['apple', 'tree', 'banana'])

In [ ]:
2 in testdictionary
#same as
2 in testdictionary.keys()

True

In [ ]:
"banana" in testdictionary.values()

True

In [ ]:
#ADD VALUE
testdictionary[4]="orange"

In [ ]:
testdictionary
#orange added as a value, with 4 as the key

{1: 'apple', 2: 'tree', 3: 'banana', 4: 'orange'}

In [ ]:
color=["red","blue","black","blue"]
total=0
for i in color:
    if i == "blue":
        total+=1
print(str(total)+" blue's")

2 blue's

In [ ]:
def remove(x):
    word=x.split(".")
    print(int(word[0]) + int(word[1]))

In [ ]:
remove("230.00000000")

230

In [ ]:
def inbounds(x):
    next = sorted(x)
    return next[-2]

In [ ]:
inbounds([54, 23, 11, 17, 10])

23

In [ ]:
def addname(x,y,z):
    dictionary = x
    dictionary[y]=z
    return dictionary

In [ ]:
addname({ "piano": 500 }, "Brutus", 400)

{'Brutus': 400, 'piano': 500}

In [ ]:
def pbonus(x,y):
    if x > y:
        return False
    elif x+6 < y:
        return False
    elif x==y:
        return False
    else:
        return True

In [ ]:
pbonus(3,3)

False

In [ ]:
pbonus(3,6)

True

In [ ]:
def objecttoarray(x):
    final=[]
    for i in x:
        final.append([i,x[i]])
    print(final)

In [ ]:
objecttoarray({
  "D": 1,
  "B": 2,
  "C": 3
})

[['D', 1], ['B', 2], ['C', 3]]

In [ ]:
def areaofc(x,y):
    area= round(((y/148940000)*100),2)
    return f"{x} is {area}% of the total world's landmass"

    #return str(x) +" is "+ str(area) + "%" + " of the total world's landmass"
    #round function used!

In [ ]:
areaofc("USA",9372610)

"USA is 6.29% of the total world's landmass"

In [ ]:
def pin(x):
    value = True
    number = "1234567890"
    if len(x)== 4 or len(x) == 6:
        for i in x:
            if i not in number:
                value = False
    else:
        return ("Not enough numbers for PIN")
    print(value)
        
            
        
        
        #numerical and no white space

In [ ]:
pin("1234")

True

In [ ]:
def add(a,b):
    value = True
    if a=="" or b =="":
        print("invalid operation")
   
    elif a==str(a) and b==str(b):
            integerab = int(a)+int(b)
            print(str(integerab))
    else:
        print("Invalid operation")

In [ ]:
add("111","111")

222

In [ ]:
def countupper(x):
    total=0
    for i in x:
        for e in i:
            if e == e.upper():
                total +=1
    print(total)

In [ ]:
countupper(["SOLO", "hello", "Tea", "wHat"])

6

In [ ]:
#DNA to RNA conversion
def drna(x):
    final = ""
    for i in x:
        if i =="A":
            final+= "U"
        if i =="T":
            final+= "A"
        if i =="G":
            final+="C"
        if i =="C":
            final+="G"
    print(final)

In [ ]:
drna("ATTAGCGCGATATACGCGTAC")

UAAUCGCGCUAUAUGCGCAUG

In [ ]:
#Change each letter given to next letter in alphabet
def move(x):
    alph= "abcdefghijklmnopqrstuvwxyz"
    final1=""
    for i in x:
        if i in alph:
            final = alph.index(i)+1
            final1+=alph[final]
    print(f"'{final1}'")

In [ ]:
move("hello")

'ifmmp'

In [ ]:
def compact(x):
    list1 =[1,2,3,4,5,6,7,8,9]
    new = []
    for i in x:
        if i in list1:
            new.append(i)
    print(new)
    #Getting a match from the list given

In [ ]:
compact([0, 1, False, 2, "", 3])

[1, 2, 3]

In [ ]:
#Dictionary practice
s = {0:10, 1:20}
s[2] = 30   
print(s)

{0: 10, 1: 20, 2: 30}

In [ ]:
s[1] = 50
print(s)

{0: 10, 1: 50, 2: 30}

In [ ]:
for i in s:
    print(i)

0
1
2

In [ ]:
for i in s:
    s[i] = s[i] + 800
print(s)

{0: 810, 1: 850, 2: 830}

In [ ]:
#Remove the letters a,b,c from a given string, if a,b,c are not in the string, return null

def remove(x):
    final = x
    for i in final:
        if i == "a":
            final = final.replace("a", "")
        if i == "b":
            final = final.replace("b", "")
        if i == "c":
            final = final.replace("c", "") 
        if "a" not in x and "b" not in x and "c" not in x:
            final = "Null"
                
    print(final)

In [ ]:
remove("apple")

pple

In [ ]:
remove("hello")

Null

In [ ]:
#Sort the list and give the second highest value
def second(x):
    a= sorted(x)
    print(a)
    print(str(a[-2])+" is the second highest value")

In [ ]:
second([10,40,20,50,30])

[10, 20, 30, 40, 50]
40 is the second highest value

In [ ]:
def fizz(x):
    if x%3==0 and x%5==0:
        print("fizzbuzz")
    elif x%3==0:
      print("fizz")
    elif x%5==0:
        print("buzz")
    else:
        print("Not fizz, buzz, or fizzbuzz")

In [ ]:
fizz(3)

fizz

In [ ]:
fizz(5)

buzz

In [ ]:
fizz(15)

fizzbuzz

In [ ]:
fizz(4)

Not fizz, buzz, or fizzbuzz

In [ ]:
def profit(x):
    cost_price= x["cost_price"]
    sell_price= x["sell_price"]
    inventory= x["inventory"]
    
    cost = cost_price * inventory
    sell = sell_price * inventory
    profit = sell-cost
    print(int(round(profit,1)))

In [ ]:
profit({
  "cost_price": 225.89,
  "sell_price": 550.00,
  "inventory": 100
})

32411

In [ ]:
def numeric(x):
    numbers = [1,2,3,4,5,6,7,8,9,0]
    if x in numbers and x == int(x):
        print(True)
    else:
        print(False)

In [ ]:
numeric(1)

True

In [ ]:
numeric('hello')

False

In [ ]:
def cv(a,b):
    a=set(a)
    b=set(b)
    match=[]
    
    for i in a:
        if i in b:
            match.append(i)
    print(match)

In [ ]:
cv('the','line')

['e']

In [ ]:
def anagram(a,b):
    a=a.replace(" ", "")
    b=b.replace(" ", "")
    aas = sorted(a) 
    bbs = sorted(b)
    if len(aas) == len(bbs):
        for i in range(len(aas)):
            if aas[i]==bbs[i]:
                pass 
            else:
                return False
        return True
    else:
        return False

In [ ]:
anagram('toy', 'yo t')

True

In [ ]:
def anagram2(s1,s2):
    s1 = s1.replace(" ","").lower()
    s2 = s2.replace(" ","").lower()
    
    if len(s1) != len(s2):
        return False
    
    count = {}
    
    for letter in s1:
        if letter in count:
            count[letter] += 1
        else:
            count[letter] = 1
            
    for letter in s2:
        if letter in count:
            count[letter] -= 1
        else:
            count[letter] = 1
            
    for k in count:
        if count[k] !=0:
            return False
    
    return True

In [ ]:
anagram('toy', 'yo t')

True

In [ ]:
anagram("public relations", "crap built on lies")

True

In [ ]:
#Find the missing element

def missing(n,m):
    list1={}
    for i in n:
        if i in list1:
            list1[i] += 1
        else:
            list1[i] = 1
    for i in m:
        if i in list1:
            list1[i] -= 1
        else:
            list1[i] = 1
    for k in list1:
        if list1[k] !=0:
            print(str(k) + " is the missing number")

In [ ]:
missing([1,2,3,4,5,6,7],[3,7,2,1,4,6])

5 is the missing number

In [ ]:
def h1(x,y):
    x=sorted(x)
    y=sorted(y)
    
    for i in range(len(x)):
        if x[i] == y[i]:
            pass
        else:
            return x[i]

In [ ]:
h1([1,2,3,4,5,6,7],[3,7,2,1,4,6])

5

In [ ]:
#FIND THE VOWELS
def vowels(a):
    vowels=('a,e,i,o,u')
    match=[]
    for i in a:
        if i in vowels:
            match.append(i)
    print(match)
    count=0
    for i in match:
        count+=1
    print(str(count)+ " vowels")
    print(f"{str(count)} {match[0]} ")
    
    #if i in a and i in vowels:
    #print i

In [ ]:
vowels("Talha")

['a', 'a']
2 vowels
2 a

In [ ]:
#Simple way

def vowel2(a):
  vowels=('a,e,i,o,u')
  for i in a:
    if i in vowels:
      print(i)

In [ ]:
vowel2("Talha")

a
a

In [ ]:
#SENTENCE REVERSAL
#"THIS IS THE BEST"= "BEST THE IS THIS" ALSO "    SPACE HERE  " = "SPACE HERE"
#QUICK WAY IS TO USE SPLIT() AND SLICING FUNCTIONS

def rev_word(s):
    words=[]
    length=len(s)
    spaces=[' ']
    i=0 #initiallizing the while loop
    #print(length)=31
    
    while i<length:
        #while i is less than 31
        if s[i] not in spaces:
            word_start=i
            while i<length and s[i] not in spaces:
                i+=1
            else:
                print(i)
            words.append(s[word_start:i])
            print(words)
        i+=1
    return " ".join(reversed(words))

#WRITE REVERSED FUNCTION

In [ ]:
rev_word("   Hello John   how are you    ")

8
['Hello']
13
['Hello', 'John']
19
['Hello', 'John', 'how']
23
['Hello', 'John', 'how', 'are']
27
['Hello', 'John', 'how', 'are', 'you']

'you are how John Hello'

In [ ]:
#STRING COMPRESSION
#AAAaaaBBbbCc = A3a3B2b2C1c1

def compress(s):
    r=""
    l=len(s)
    
    if l==0:
        return ""
    if l==1:
        return s+"1" 
    last=s[0]
    count=1
    i=1
    
    while i<l:
        #Giving it parameters, stop at the 11th value
        if s[i]==s[i-1]:
            #AAAaaaBBbbCc
            #Why isn't this "+1"
            count +=1
        else:
            r=r+s[i-1]+str(count)
            #Establishing the same characters counted so far, "A3"
            count=1
            #This restarts the counter for the next unmatching letter
        i+=1
        
    r=r+s[i-1]+str(count)
    return r


#if i<1
#   if s[i]==s[i-1]:
#       count+=1

In [ ]:
compress('AAAaaaBBbbCc')

'A3a3B2b2C1c1'

In [ ]:
def reverse(a):
    space = " "
    start = False
    word = ""
    listwords=[]
    
    for i in a:
        if i != space:
            start = True
        if start == True:
            if i == space:   #Checking the space where the word ends
                listwords.append(word)
                print(word)
                start = False
                word = ""
                pass
            else:
                word = word + i
    print(listwords)
    return " ".join(reversed(listwords))

In [ ]:
reverse("   the tree is green     ")

the
tree
is
green
['the', 'tree', 'is', 'green']

'green is tree the'

In [ ]:
#Unique characters

def unique(a):
  one=set()

  for i in a:
    if i in one:
      return False
    else:
      one.add(i)
  return True

In [ ]:
unique("abcde")

True

In [ ]:
unique("abccde")

False

In [ ]:
#Short way for unique characters

def uni(s):
  return len(set(s))==len(s)

In [ ]:
uni("abcde")

True

In [ ]:
uni("abdde")

False

In [ ]:
#Array Pair Sum
def pair(arr,k):
  if len(arr)<2:
    print("Need more numbers")
  seen=set()
  output=set()

#[1,2,2,3] =arr
# 4 = k
#(2,2)
#(1,3)

  for num in arr:
    target = k-num
    if target not in seen:
      seen.add(num)
    else:
      output.add(((min(num,target)),max(num,target)))
      print(num,target)
  print('\n'.join(map(str,list(output))))
  
  #'/n' adds a 'return' for a variable

In [ ]:
pair([1,2,2,3],4)

2 2
3 1
(1, 3)
(2, 2)

In [ ]:
def anagram(a,b):
    a=a.replace(" ","").lower()
    b=b.replace(" ","").lower()
    a=sorted(a)
    b=sorted(b)

    if len(a)==len(b):
        for i in range(len(a)):
            if a[i]==b[i]:
                pass
            else:
                return False
        return True
    else:
      return False

In [ ]:
anagram("the","the")

True

In [ ]:
#Next practice problem

In [ ]:
def anagram(a,b):
  a=a.replace(" ","").lower()
  b=b.replace(" ","").lower()
  a=sorted(a)
  b=sorted(b)

  if len(a)==len(b):
    for i in range(len(a)):
      if a[i]==b[i]:
        pass
      else:
        return False
    return True
  else:
    return False

In [ ]:
anagram("the","teh")

True

In [ ]:
def missing(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k)+ " is the missing value")
    else:
      print("nothing is missing")

In [ ]:
missing([1,2,3,4],[1,4,2])

nothing is missing
nothing is missing
3 is the missing value
nothing is missing

In [ ]:
#Short Anagram Method
def ana(a,b):
  if sorted(a)==sorted(b):
    print("This is an anagram")
  else:
    print("Not an anagram")

In [ ]:
ana("the","tee")

Not an anagram

In [ ]:
def ana(a,b):
  a=a.replace(" ","").lower()
  b=b.replace(" ","").lower()
  a=sorted(a)
  b=sorted(b)

  if len(a)==len(b):
    for i in range(len(a)):
      if a[i]==b[i]:
        pass
      else:
        return False
    return True
  else:
    return False

In [ ]:
ana("toy","yyot")

False

In [ ]:
def anagram(a,b):
  if sorted(a)==sorted(b):
    return True
  else:
    print("False")

In [ ]:
anagram("toy","toy")

True

In [ ]:
def missing(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k)+" is the missing number")
    else:
      print("nothing is missing")

In [ ]:
missing([1,2,3,4],[1,4,2])

nothing is missing
nothing is missing
3 is the missing number
nothing is missing

In [ ]:
#Unique Characters

def uni(s):
  return len(set(s))==len(s)

In [ ]:
uni("abcde")

True

In [ ]:
def missing(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k) + " is the missing number")
    else:
      print("nothing is missing")

In [ ]:
missing([1,2,3,4],[1,4,2])

nothing is missing
nothing is missing
3 is the missing number
nothing is missing

In [ ]:
animals = ["cheetah", "tiger", "cheetah", "lion"]
total = 0
for i in animals:
    if i == "cheetah":
        total += 1
        print(str(total) + "cheetahs")

1cheetahs
2cheetahs

In [ ]:
def areaofcountry(x,y):
    def area(y):
        country=(y/148940000) *100
        return country
    return "{country} is {area}% of the total world's landmass".format(country=x, area=area(y))

In [ ]:
areaofcountry("USA", 9372610)

"USA is 6.29287632603733% of the total world's landmass"

In [ ]:
def remainder(x,y):
    subtract= x%y
    return subtract

In [ ]:
remainder(1,3)

1

In [ ]:
student={'name':'John','age':25,'hobby':'golf'}

print(student['age'])
age = student.pop('age')
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

for key in student:
    print("keys "+key)
    
for key, value in student.items():
    print(key,value)

25
2
dict_keys(['name', 'hobby'])
dict_values(['John', 'golf'])
dict_items([('name', 'John'), ('hobby', 'golf')])
keys name
keys hobby
name John
hobby golf

In [ ]:
#DNA to RNA conversion
def drna(x):
    final = ""
    for i in x:
        if i =="A":
            final+= "U"
        if i =="T":
            final+= "A"
        if i =="G":
            final+="C"
        if i =="C":
            final+="G"
    print(final)

In [ ]:
drna("ATTAGCGCGATATACGCGTAC")

UAAUCGCGCUAUAUGCGCAUG

In [ ]:
def seconds(x):
  seconds = (x*60)*60
  return seconds

In [ ]:
seconds(5)

18000

In [ ]:
def calculator(x,y,z):
    if y=="+":
        return x+z
    if y=="-":
      return x-z
    if y=="*":
      return x*z
    if y=="/":
      return x/z

In [ ]:
calculator(2,"+",2)

4

In [ ]:
def name(x):
    if x.lower() == "darth vader":
        return "Luke I am your father"
    if x.lower() == "leia":
        return "Luke I am your sister"
    if x.lower() == "han":
        return "Luke I am your brother in law"

In [ ]:
name("han")

'Luke I am your brother in law'

In [ ]:
animals = ['cheetah', 'tiger', 'cheetah', 'lion']
total=0
for i in animals:
  if i == 'cheetah':
    total += 1
print(str(total) + ' cheetahs')

2 cheetahs

In [ ]:
def name(x):
  if x.lower() == "talha":
    return "Talha is the name"
  if x.lower() == "Cat":
    return "Cat is in the house"

In [ ]:
name("talha")

'Talha is the name'

In [ ]:
def add(a,y):
  addition = a + y
  return addition

In [ ]:
add(3,4)

7

In [ ]:
#Unique Characters
def unique(a):
  one=set()

  for i in a:
    if i in one:
      return False
    else:
      one.add(i)
  return True

Define "unique"
create a set
Check each variable to see if it exists again
If not in set, add to set
Return True or False

In [ ]:
unique([1,2,3,3,4])

False

In [ ]:
def uni(s):
  return len(set(s))==len(s)

In [ ]:
uni([1,2,3,3,4])

False

In [ ]:
def make_bricks(small, big, goal):
  bricksused = big
  target = goal - big * 5 
  while target <= 0:
    bricksused = big -1
    target = (bricksused) * 5
    print(target)
  if bricksused * 5 + small >= goal:
    return True
  else:
    return False

In [ ]:
make_bricks(2, 1000000, 100003)

4999995

True

In [ ]:
#integers from 1-50 FizzBuzz
for fizzbuzz in range(51):
  if fizzbuzz%3==0 and fizzbuzz%5==0:
    print("fizzbuzz")
  elif fizzbuzz%3==0:
    print("fizz")
  elif fizzbuzz%5==0:
    print("buzz")
  print(fizzbuzz)

fizzbuzz
0
1
2
fizz
3
4
buzz
5
fizz
6
7
8
fizz
9
buzz
10
11
fizz
12
13
14
fizzbuzz
15
16
17
fizz
18
19
buzz
20
fizz
21
22
23
fizz
24
buzz
25
26
fizz
27
28
29
fizzbuzz
30
31
32
fizz
33
34
buzz
35
fizz
36
37
38
fizz
39
buzz
40
41
fizz
42
43
44
fizzbuzz
45
46
47
fizz
48
49
buzz
50

In [ ]:
def addition(x,y):
  addition=x+y
  return addition

In [ ]:
addition(4,3)

7

In [ ]:
def calc_age(age):
	days=age*365
	return days

In [ ]:
calc_age(5)

1825

In [ ]:
def string_int(txt):
	integer = int(txt)
	return integer

In [ ]:
string_int("7")

7

In [ ]:
def next_edge(x,y):
  third=(x+y)-1
  return third

In [ ]:
next_edge(8,10)

17

In [ ]:
def remainder(x,y):
  final=x%y
  return final

In [ ]:
remainder(1,3)

1

In [ ]:
def exp(x,y):
  exp=x**y
  return exp

In [ ]:
exp(5,5)

3125

In [ ]:
def sumpoly(x):
  x>2
  return (x-2)*180

In [ ]:
sumpoly(3)

180

In [ ]:
def area(x,y):
  return (x*y)/2

In [ ]:
area(3,2)

3.0

In [ ]:
def power(v,c):
  return v*c

In [ ]:
power(230,10)

2300

In [ ]:
def name(x):
  return str(x)+"Edabit"

In [ ]:
name("talha")

'talhaEdabit'

In [ ]:
def addone(x):
  return x+1

In [ ]:
addone(0)

1

In [ ]:
def firstlist(x):
  return x[0]

In [ ]:
firstlist([1,2,3,4])

1

In [ ]:
def stutter(x):
  return x[0:2]+ " " + x[0:2] + " " + x

In [ ]:
stutter("Talha")

'Ta Ta Talha'

In [ ]:
def discount(x,y):
  y=y/100
  final = x-(x*y)
  return round(final,2)

In [ ]:
discount(1000,75)

250.0

In [ ]:
def convert(hours, minutes):
	return ((hours*60)*60)+(minutes*60)

In [ ]:
convert(1,3)

3780

In [ ]:
def int_to_str(num):
	return str(num)

def str_to_int(num):
	return int(num)

In [ ]:
int_to_str(4)

'4'

In [ ]:
str_to_int("7")

7

In [ ]:
def fizz_buzz(num):
	if num%3==0 and num%5==0:
		return ("FizzBuzz")
	elif num%3==0:
		return "Fizz"
	elif num%5==0:
		return "Buzz"
	else:
		return str(num)

In [ ]:
fizz_buzz(5)

'Buzz'

In [ ]:
fizz_buzz(1202)

'1202'

In [ ]:
fizz_buzz(15)

'FizzBuzz'

In [ ]:
fizz_buzz(3)

'Fizz'

In [ ]:
def animals(chickens, cows, pigs):
	#2,4,4
	return chickens*2+cows*4+pigs*4

In [ ]:
animals(4,3,2)

28

In [ ]:
def is_same_num(num1, num2):
	if num1 == num2:
		return True
	else:
		return False

In [ ]:
is_same_num(1,2)

False

In [ ]:
def less_than_or_equal_to_zero(num):
	if num<=0:
		return True
	else:
		return False

In [ ]:
less_than_or_equal_to_zero(-2)

True

In [ ]:
def mod(m, n):
	return m%n

In [ ]:
mod(5,2)

1

In [ ]:
def findLargestNum(nums):
	nums.sort()
	return nums[-1]

In [ ]:
findLargestNum([1,5,3,2,100,1000,4,3])

1000

In [ ]:
def total_amount_adjectives(dct):
	total=0
	for i in dct:
		total+=1
	return total

In [ ]:
total_amount_adjectives({ "a": "moron", "b": "scumbag", "c": "moron", "d": "dirtbag" })

4

In [ ]:
def total_amount_adjectives(dct):
	total=0
	for i in dct.keys():
		total+=1
		return total

In [ ]:
total_amount_adjectives({ "a": "moron", "b": "scumbag", "c": "moron", "d": "dirtbag" })

1

In [ ]:
def shift_to_right(x, y):
	shift = round((x/(2**y)),1)
	return shift

In [ ]:
shift_to_right(512, 10)

0.5

In [ ]:
def find_perimeter(length, width):
	return (length*2)+(width*2)

In [ ]:
find_perimeter(2,4)

12

In [ ]:
def is_seven(x):
	if x==7:
		return True  
	else:
		return False

In [ ]:
is_seven(4)

False

In [ ]:
def profit(x):
  cost  = x["cost_price"] * x["inventory"]
  sell = x["sell_price"] * x["inventory"]
  return (sell-cost)

In [ ]:
profit({
  "cost_price": 32.67,
  "sell_price": 45.00,
  "inventory": 1200
})

14796.0

In [ ]:
#get length of number
def numlength(x):
  total=0
  x=str(x)
  for i in x:
    total+=1
  return total

In [ ]:
numlength(123)

3

In [ ]:
#Area of country
def countryarea(a,b):
  area=b/14894000
  return a + " is" + " " + str(area) + " of the total worlds landmass"

In [ ]:
countryarea("USA", 9372610)

'USA is 0.629287632603733 of the total worlds landmass'

In [ ]:
#Time saved from speeding
def speeding(a,b,c):
  a=a*60
  b=b*60
  c=c*60
  speed=c/a
  over=b/a
  final=over-speed
  return final

In [ ]:
speeding(80,90,40)

0.625

In [ ]:
def less(a,x):
  if a+x<100:
    return False
  else:
    return True

In [ ]:
less(22,15)

False

In [ ]:
def secondl(x):
  second=[]
  x=sorted(x)
  return x[-2]

In [ ]:
secondl([10, 40, 30, 20, 50])

40

In [ ]:
def calc(a,b,c):
  if b=="+":
    return a+c
  if b=="-":
    return a-c
  if b=="/":
    if c==0:
      return "Can't divide by 0"
    return a/c

In [ ]:
calc(2,"/",0)

"Can't divide by 0"

In [ ]:
def kv(x):
  print(list(x.keys()),list(x.values()))

In [ ]:
kv({ "a": 1, "b": 2, "c": 3 })

['a', 'b', 'c'] [1, 2, 3]

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for i in (dic1, dic2, dic3): dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
def mult(x,y):
  final=[]
  for i in range(1,y+1):
    final.append(x*i)
  print(final)

In [ ]:
mult(7,5)

[7, 14, 21, 28, 35]

In [ ]:
def counttrue(x):
  counter=0
  for i in x:
    if i == "true":
      counter+=1
    return counter

In [ ]:
counttrue(["true", "false", "false", "true", "false"])

1

In [ ]:
def counttrue(x):
  counter=0
  i = str(i)
  for i in x:
    counter+=1
    return counter

In [ ]:
colors=["orange","red","red","blue","white"]
counter=0
for i in colors:
  if i=="red":
    counter+=1
print(str(counter)+" reds")

2 reds

In [ ]:
def colors(x,y):
  counter = 0
  for i in x:
    if y == i:
      counter+=1
    print(str(counter)+ " " + i)

In [ ]:
colors(["orange","red","red","blue","white"],"red")

0 orange
1 red
2 red
2 blue
2 white

In [ ]:
def pb(x,y):
  if x>=y:
    return False
  if y>x+6:
    return False
  else:
    return True

In [ ]:
pb(5,3)

False

In [ ]:
def lennum(x):
  counter=0
  x=str(x)
  for i in x:
    counter+=1
  return counter

In [ ]:
lennum(10)

2

In [ ]:
colors=["red","blue","black","yellow"]
a=[]
b=[]
single=[]
double=[]

for i in colors:
  letters=i[0]
  if letters not in a:
    a.append(letters)
  else:
    b.append(letters)
print(str(a)+" different letters")
print(str(b)+" same letters")

for i in colors:
  letters=i[0]
  if letters in b:
    double.append(i)
  else:
    single.append(i)
print(str(double)+" same")
print(str(single)+" other")

['r', 'b', 'y'] different letters
['b'] same letters
['blue', 'black'] same
['red', 'yellow'] other

In [ ]:
def bmicalc(name,w,h):
  bmi=w/(h**2)
  print("BMI:")
  print(bmi)
  if bmi>25:
    return name+" overweight"
  else:
    return name+" is not overweight"
  return bmicalc(name,w,h)

In [ ]:
bmicalc("Talha",200,66)

BMI:
0.04591368227731864

'Talha is not overweight'

In [ ]:
greeting = 'Hello'
name = 'Michael'

#f string

message = f'{greeting}, {name.upper()}. Welcome!'

print(message)

Hello, MICHAEL. Welcome!

In [ ]:
print(help(str))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

In [ ]:
num=3
nums=3.14

print(type(num))

print(type(nums))

<class 'int'>
<class 'float'>

In [ ]:
#Unique Characters
def unique(a):
  one=set()

  for i in a:
    if i in one:
      return False
    else:
      one.add(i)
  return True

In [ ]:
unique([1,2,2,3,4])

False

In [ ]:
#Unique Characters

def uni(s):
  return len(set(s))==len(s)

In [ ]:
uni([1,2,3,3,4])

False

In [ ]:
uni([1,2,3,4])

True

In [ ]:
def missing(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k) + " is the missing number")
    else:
      print("nothing is missing")

In [ ]:
unique([1,2,3,4])

True

In [ ]:
missing([1,2,3,4],[1,2,4])

nothing is missing
nothing is missing
3 is the missing number
nothing is missing

In [ ]:
total3 = 0
for i in range(1,8):
  if i % 3 == 0:
    total3 += i
print(total3)

9

In [ ]:
def vowel(x):
  y=['a','e','i','o','u']
  total = 0
  for i in x:
    if i in y:
      total += 1
  print(total)

In [ ]:
def anagram(a,b):
    a=a.replace(" ", "")
    b=b.replace(" ", "")
    aas = sorted(a) 
    bbs = sorted(b)
    if len(aas) == len(bbs):
        for i in range(len(aas)):
            if aas[i]==bbs[i]:
                pass 
            else:
                return False
        return True
    else:
        return False

In [ ]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def card_hide(x):
    print(("***********")+x[12:])

In [ ]:
card_hide("1234123412341234")

***********1234

In [ ]:
def name(x):
    if x.lower() == "darth vader":
        return "Luke I am your father"
    if x.lower() == "leia":
        return "Luke I am your sister"
    if x.lower() == "han":
        return "Luke I am your brother in law"

In [ ]:
name("darth vader")

'Luke I am your father'

In [ ]:
#Tile Teamwork Tactics
def t(x,y):
  if y > x + 6:
    return False
  if x > y:
    return False
  if y>x:
    return True

In [ ]:
t(3,7)

True

In [ ]:
#Buggy Code Cubes
def cubes(x):
  return x**3

In [ ]:
cubes(5)

125

In [ ]:
def larger(f,g):
  if f>g:
    return "f"
  if f<g:
    return "g"
  if f==g:
    return "neither"

In [ ]:
larger(10,10)

'neither'

In [ ]:
#Return the next number
def addition(x):
  return x+1

In [ ]:
addition(-1)

0

In [ ]:
def arraymultiple(x,y):
  final=[]
  for i in range(1,y+1):
     final.append(x*i)
  print(final)

In [ ]:
arraymultiple(7,5)

[7, 14, 21, 28, 35]

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
for i in (dic1,dic2,dic3):dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
def fizzbuzz(x):
  if x%5==0 and x%3==0:
    print("FizzBuzz")
  elif x%5==0:
    print("Buzz")
  elif x%3==0:
    print("Fizz")
  else:
    print(x)

In [ ]:
fizzbuzz(15)

FizzBuzz

In [ ]:
def fizz(x):
  if x%3==0 and x%5==0:
    print("Fizzbuzz")
  elif x%5==0:
    print("Fizz")
  elif x%3==0:
    print("Buzz")
  else:
    print(str(x) + " Not Fizz or Buzz or Fizzbuzz")

In [ ]:
fizz(2)

2 Not Fizz or Buzz or Fizzbuzz

In [ ]:
def aoc(x,y):
  area=round(((y/148940000)*100),2)

  print(str(x)+" is "+ str(area)+ "%"+ " of the total worlds landamass")

In [ ]:
aoc("russia",17098242)

russia is 11.48% of the total worlds landamass

In [ ]:
def fd(x):
  m,d,y=x.split('/')
  return ''.join((y,d,m))

In [ ]:
fd("11/12/2019")

'20191211'

In [ ]:
def ld(a,b,c):
  if str(a*b)[-1]==str(c)[-1]:
    return True
  else:
    False

In [ ]:
ld(25,21,125)

True

In [ ]:
def add(x,y):
  xx=int(x)
  yy=int(y)
  addition=xx+yy
  return str(addition)

In [ ]:
add("10","111")

'121'

In [ ]:
#Prime Numbers 100-200

prime=[]
for i in range(100,200):
  if i%2==0:
    pass
  else:
    prime.append(i)
print(prime)

[101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

In [ ]:
#Sort

def s(x):
  x.sort(reverse=True)
  print(x)

In [ ]:
s([1,5,4,3,2,1])

[5, 4, 3, 2, 1, 1]

In [ ]:
#Reverse List

def r(x):
  return x[::-1]

In [ ]:
r([1,5,4,3,2])

[2, 3, 4, 5, 1]

In [ ]:
#duplicates in a list
list1=[]
list2=[]
def d(x):
  for i in x:
    if i not in list1:
      list1.append(i)
    if i in list1:
      list2.append(i)
    return list2

In [ ]:
d([1,1,3,2,4,5,5,6,2])

[1]

In [ ]:
def string(x):
  str_reverse = string[::-1]

In [ ]:
string([1,3,4,5])

TypeError: ignored

In [ ]:

#Drunken Python
def st(x):
  if x==str(x):
    return int(x)
  elif x==int(x):
    return str(x)

In [ ]:
st(4)

'4'

In [ ]:
st("4")

4

In [ ]:
#Drunken Python
def st(x):
  if x==str(x):
    return int(x)
  elif x==int(x):
    return str(x)

In [ ]:
def shiftright(x,y):
  return x//2**y

In [ ]:
shiftright(80,3)

10

In [ ]:
#length of number

def nl(x):
  x=str(x)
  counter=0
  for i in x:
    counter+=1
  return counter

In [ ]:
nl(100)

3

In [ ]:
#FizzBuzz

def fb(num):
  if num%3==0 and num%5==0:
    return "FizzBuzz"
  elif num%3==0:
    return "Fizz"
  elif num%5==0:
    return "Buzz"
  else:
    return str(num)

In [ ]:
fb(3)

'Fizz'

In [ ]:
fb(5)

'Buzz'

In [ ]:
fb(15)

'FizzBuzz'

In [ ]:
fb(4)

'4'

In [ ]:
#Return total profit

def profit(cost,sell,invent):
  final = ((sell*invent)-(cost*invent))
  return round(final)

In [ ]:
profit(32.67, 45, 1200)

14796

In [ ]:
#Area of country

def area(name,area):
  carea=round(area/148940000*100,2)
  print(f"{name} is {carea}% of the total worlds area")

In [ ]:
area("Russia", 17098242)

Russia is 11.48% of the total worlds area

In [ ]:
#Anagram

def ana(a,b):
  a=a.replace(" ","").lower()
  b=b.replace(" ","").lower()
  a=sorted(a)
  b=sorted(b)
  if len(a)==len(b):
    for i in range(len(a)):
      if a[i]==b[i]:
        pass
      else:
        return False
  else:
      return False

In [ ]:
ana("the cat","car the")

False

In [ ]:
#Missing Number

def miss(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k)+" is the missing number")

In [ ]:
miss([1,2,3,4],[1,2,4])

3 is the missing number

In [ ]:
#Unique Characters

def uni(a):
  unique=set()
  for i in a:
    if i in unique:
      return False
    else:
      unique.add(i)
  return True

In [ ]:
uni("abcde")

True

In [ ]:
#Short Unique Characters

def suni(x):
  return len(set(x))==len(x)

In [ ]:
suni("abbcde")

False

In [ ]:
student = {'name':'bob','age':30,'courses':['math','science']}
print(student['courses'])
print(student.keys())
print(student.values())
print(student.items())
del student['age']
print(student)
student['phone']='5555555'
print(student)

['math', 'science']
dict_keys(['name', 'age', 'courses'])
dict_values(['bob', 30, ['math', 'science']])
dict_items([('name', 'bob'), ('age', 30), ('courses', ['math', 'science'])])
{'name': 'bob', 'courses': ['math', 'science']}
{'name': 'bob', 'courses': ['math', 'science'], 'phone': '5555555'}

In [ ]:
student = {'name':'bob','age':30,'courses':['math','science']}
name=student.pop('name')
print(student)

{'age': 30, 'courses': ['math', 'science']}

In [ ]:
for key, value in student.items():
  print(key,value)

age 30
courses ['math', 'science']

In [ ]:
courses=['History','Math','Science','Comp Sci']
print(len(courses))
print(courses[:2])
print(courses[2:])
print(max(courses))
print(courses.index('Math'))

4
['History', 'Math']
['Science', 'Comp Sci']
Science
1

In [ ]:
def ana(x,y):
  x=x.replace(" ","").lower()
  y=y.replace(" ","").lower()
  x=sorted(x)
  y=sorted(y)
  if len(x)==len(y):
    for i in range(len(x)):
      if x[i]==y[i]:
        pass
      else:
        return False
  else:
    return False

In [ ]:
ana("hello", "olleh")

In [ ]:

def ana(a,b):
  a=a.replace(" ","").lower()
  b=b.replace(" ","").lower()
  a=sorted(a)
  b=sorted(b)
  if len(a)==len(b):
    for i in range(len(a)):
      if a[i]==b[i]:
        pass
      else:
        return False
  else:
      return False

In [ ]:
ana("hello", "elloh")

In [ ]:
#Short Anagram

def anag(a,b):
  if sorted(a)==sorted(b):
    return True
  else:
    return str(False) +", Not and anagram"

In [ ]:
anag("the","tohe")

'False, Not and anagram'

In [ ]:
#Unique 

def uniq(a):
  if len(set(a))==len(a):
    return True
  else:
    return False

In [ ]:
uniq("abbcd")

False

In [ ]:
#Missing

def miss(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k)+" is the extra character")

In [ ]:
miss([1,2,3,4,],[1,2,3])

4 is the extra character

In [ ]:
def si(x):
  if x==str(x):
    return int(x)
  elif x==int(x):
    return str(x)

In [ ]:
si("4")

4

In [ ]:
si(4)

'4'

In [ ]:
def lennum(x):
  x=str(x)
  counter=0
  for i in x:
    counter+=1
  print(counter)

In [ ]:
lennum(41200)

5

In [ ]:
def fb(x):
  if x%3==0 and x%5==0:
    return "FizzBuzz"
  elif x%3==0:
    return "Fizz"
  elif x%5==0:
    return "Buzz"
  else:
    return x

In [ ]:
fb(15)

'FizzBuzz'

In [ ]:
def profit(cost,sell,inv):
  return round((sell*inv-cost*inv),2)

In [ ]:
profit(32.67,45,1200)

14796.0

In [ ]:
class Employee:
  def __init__(self,firstname,lastname):
    self.firstname=firstname
    self.lastname=lastname
    self.fullname=firstname+''+lastname
    self.email='{}.{}@company.com'.format(firstname, lastname).lower()

In [ ]:
def ana(a,b):
  a=a.replace(" ","").lower()
  b=b.replace(" ","").lower()
  a=sorted(a)
  b=sorted(b)
  if len(a)==len(b):
    for i in range(len(a)):
      if a[i]==b[i]:
        pass
      else:
        return False
  else:
    return False

In [ ]:
ana("the","hte")

In [ ]:
def anag(a,b):
  return sorted(a)==sorted(b)

In [ ]:
anag("the","hte")

True

In [ ]:
def uni(a):
  return len(set(a))==len(a)

In [ ]:
uni("abccd")

False

In [ ]:
def color(a,b):
  list1=[]
  for i in a:
    if i not in b:
      list1.append(i)
  return list1

In [ ]:
color(["white","black","red"],["red","green"])

['white', 'black']

In [ ]:
seconds(60,"minutes")

1.0

In [ ]:
#sort function

def s(x):
  return sorted(x)

In [ ]:
s([1,5,4,7,6,2,8,10])

[1, 2, 4, 5, 6, 7, 8, 10]

In [ ]:
prime=[]
for i in range(100,200):
  if 2%i!=0:
    pass
  else:
    prime.append(i)
print(prime)

[]

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
fizzbuzz=[]
fizz=[]
buzz=[]
for i in range(1,500):
  if i%3==0 and i%5==0:
    fizzbuzz.append(i)
    #print("FizzBuzz")
  elif i%3==0:
    fizz.append(i)
    #print("Fizz")
  elif i%5==0:
    buzz.append(i)
    #print("Buzz")
#else:
    #print(i)
print(fizzbuzz)
print(fizz)
print(buzz)

[15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240, 255, 270, 285, 300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495]
[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99, 102, 108, 111, 114, 117, 123, 126, 129, 132, 138, 141, 144, 147, 153, 156, 159, 162, 168, 171, 174, 177, 183, 186, 189, 192, 198, 201, 204, 207, 213, 216, 219, 222, 228, 231, 234, 237, 243, 246, 249, 252, 258, 261, 264, 267, 273, 276, 279, 282, 288, 291, 294, 297, 303, 306, 309, 312, 318, 321, 324, 327, 333, 336, 339, 342, 348, 351, 354, 357, 363, 366, 369, 372, 378, 381, 384, 387, 393, 396, 399, 402, 408, 411, 414, 417, 423, 426, 429, 432, 438, 441, 444, 447, 453, 456, 459, 462, 468, 471, 474, 477, 483, 486, 489, 492, 498]
[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100, 110, 115, 125, 130, 140, 145, 155, 160, 170, 175, 185, 190, 200, 205, 215, 220, 230, 235, 245, 250, 260, 265, 275, 280, 290, 295, 305, 310, 320, 325, 335, 340, 350, 355, 365, 370, 380, 385, 395, 400, 410, 415, 425, 430, 440, 445, 455, 460, 470, 475, 485, 490]

In [21]:
a,b=0,1
for i in range(0,10):
  a,b=b,a+b
  print(a)

1
1
2
3
5
8
13
21
34
55

In [16]:
mlist=[1,2,3,4,5,6,7,8,9,10]
squares=[num*num for num in mlist]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
list1 = [1,2,3,4]

one = list1.pop()

print(one)

4

In [19]:
li=[21,3,4,5,5]
print(li[::-1])

[5, 5, 4, 3, 21]