In [ ]:
#List
test=[1,3,2,4,4,"string"]
test.append(5)
test.remove(1)
del test[0:1]
test.pop()
test.append([9,9,0,0])
test.extend([11,10,13,12])
#test.clear()
test[1:5][3][0] #to get in a list of list and index
test.index("string")
#Limitation of this is it only gives the first value back, if you have 2 of the same values like 4,4, it will only give you the first one.
test=[10,3,6,4,4]
sorted(test)  #Doesn't sort original list going forward, creates a new list
#test.sort()  #sorts the original list going forward
test

[10, 3, 6, 4, 4]

In [ ]:
#Tuples
apple=tuple([1,5,3,2,"orange"])
type(apple)
apple[1]

5

In [ ]:
#Set
orange=set([1,5,2,1,12])
type(orange)
list(orange)[-1]
orange
orange.add(13)
orange.remove(12)
orange

{1, 2, 5, 13}

In [ ]:
#Dictionary
water = {"A":"blue","B":"orange","C":"red"}
water.keys()
water.values()
2 in water
2 in water.keys()
"red" in water.values()
#Remember this, how to add to a dictionary!
water["A"] #This will return "blue"
water["Z"]="purple"
water["D"]="pink" #replaces orange with pink
water.pop("D") #removes specified key

'pink'

In [ ]:
s={0:10, 1:20}
print(s)
s[2]=30
print(s)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [ ]:
student={'name':'John','age':25,'hobby':'golf'}

print(student['age'])
age = student.pop('age')
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

for key in student:
    print("keys "+key)
    
for key, value in student.items():
    print(key,value)

25
2
dict_keys(['name', 'hobby'])
dict_values(['John', 'golf'])
dict_items([('name', 'John'), ('hobby', 'golf')])
keys name
keys hobby
name John
hobby golf

In [ ]:
animals = ['cheetah', 'tiger', 'cheetah', 'lion']
total=0
for i in animals:
  if i == 'cheetah':
    total += 1
print(str(total) + 'cheetahs')

2cheetahs

In [ ]:
def km(x):
  km=1.6*x
  return km

In [ ]:
km(10)

16.0

In [ ]:
b = ['banana', 'apple', 'microsoft']
temp = b[0]
b[0] = b[2]
b[2] = temp
print(b)

['microsoft', 'apple', 'banana']

In [ ]:
a = ['banana', 'apple', 'microsoft']
for element in a:
  print(element)

banana
apple
microsoft

In [ ]:
b = [20, 10, 5]
total = 0
for e in b:
  total = total + e
print(total)

35

In [ ]:
c = list(range(1,5))
print(c)

[1, 2, 3, 4]

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
total2 = 0
for i in range(1,5):
  total2 += i
print(total2)

10

In [ ]:
print(list(range(1,8+1)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(4 % 3)

1

In [ ]:
print(6 % 3)

0

In [ ]:
total3 = 0
for i in range(1,8):
  if i % 3 == 0:
    total3 += i
print(total3)

9

In [ ]:
def add(x,y):
  add = x+y
  return add

In [ ]:
add(2,3)

5

In [ ]:
def increment(x):
  increment = x+1
  return increment

In [ ]:
increment(1)

2

In [ ]:
def hourstominutes(x):
  hourstominutes = x * 60
  return hourstominutes

In [ ]:
hourstominutes(5)

300

In [ ]:
def area(x,y):
  area = (x*y)/2
  return area

In [ ]:
area(7,4)

14.0

In [ ]:
def cube(x):
  cube = x**3
  return cube

In [ ]:
cube(10)

1000

In [ ]:
def seconds(x):
  seconds = (x*60)*60
  return seconds

In [ ]:
seconds(2)

7200

In [ ]:
def edge(x,y):
  edge = (x+y)-1
  return edge

In [ ]:
edge(8,10)

17

In [ ]:
def remainder(x,y):
  remainder = x % y
  return remainder

In [ ]:
remainder(5,5)

0

In [ ]:
def integer(x):
  integer = int(x)
  return integer

In [ ]:
integer("6")

6

In [ ]:
def days(x):
  days = x * 365
  return days

In [ ]:
days(65)

23725

In [ ]:
def parameter(x,y):
  parameter = (x*2) + (y*2)
  return parameter

In [ ]:
parameter(6,7)

26

In [ ]:
def power(x,y):
  power = x * y
  return power

In [ ]:
power(230,10)

2300

In [ ]:
def polygon(x):
  polygon = (x-2) * 180
  return polygon

In [ ]:
polygon(6)

720

In [ ]:
def exp(x,y):
  exp = x**y
  return exp

In [ ]:
exp(3,3)

27

In [ ]:
def squared(x):
  squared = x**2
  return squared

In [ ]:
squared(100)

10000

In [ ]:
def first(x):
  first = x[0]
  return first

In [ ]:
first([1,2,3,4])

1

In [ ]:
def name(x):
    if x.lower() == "darth vader":
        return "Luke I am your father"
    if x.lower() == "leia":
        return "Luke I am your sister"
    if x.lower() == "han":
        return "Luke I am your brother in law"

In [ ]:
name("darth vader")

'Luke I am your father'

In [ ]:
def vowel(x):
  y=['a','e','i','o','u']
  total = 0
  for i in x:
    if i in y:
      total += 1
  print(total)

In [ ]:
vowel("hello")

2

In [ ]:
def shuffle(x):
  name = x.split(" ")
  for i in range(1,len(name)+1):
    print(name[0-i])
    print(i)

In [ ]:
shuffle("Talha Javed Arnold")

Arnold
1
Javed
2
Talha
3

In [ ]:
def calculator(x,y,z):
    if y=="+":
        return x+z
    if y=="-":
      return x-z
    if y=="*":
      return x*z
    if y=="/":
      return x/z

In [ ]:
calculator(2,"*",10)

20

In [ ]:
test={}
test["apple"]=1
test["apple"]+=3
print(test)

{'apple': 4}

In [ ]:
def calc(x):
    days=x*365
    return days

In [ ]:
calc(65)

23725

In [ ]:
def replace(x,y):
    v=["a","e","i","o","u"]
    value=""
    for i in x:
        if i in v:
            value=value + y
        else:
            value=value+i
    return value

In [ ]:
replace('the aardvark', '!')

'th! !!rdv!rk'

In [ ]:
def ham(x,y):
    counter=0
    for i in range(len(x)):
        if x[i]!= y[i]:
            counter+=1
    return counter

In [ ]:
ham('abcde', 'abide')

1

In [ ]:
def caps(x):
    index=[]
    for i in range(len(x)):
        if  x[i] == x[i].upper():
            index.append(i)
    return index

In [ ]:
caps('uDeMy')

[1, 3]

In [ ]:
def nums(x):
    even=[]
    for i in range(1,x+1): 
        if i % 2 ==0:
            even.append(i)
    print(even)

In [ ]:
nums(8)

[2, 4, 6, 8]

In [ ]:
range(1,10)
count = 0
for i in range(1,10):
    if i % 2 ==0:
        count+=1
        print(i)
print(f"there are {count} even numbers")
#f string used here!

2
4
6
8
there are 4 even numbers

In [ ]:
def budget(x):
    budget=[]
    addition=0
    for i in x:
        addition+=i["budget"]
    return addition
    #Referring to specific key value pairs!

In [ ]:
budget([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [ ]:
def areaofcountry(x,y):
    def area(y):
        country=(y/148940000) *100
        return country
    return "{country} is {area}% of the total world's landmass".format(country=x, area=area(y))
    #Using {} in return to print out calculation in string!

In [ ]:
areaofcountry("USA", 9372610)

"USA is 6.29287632603733% of the total world's landmass"

In [ ]:
def remainder(x,y):
    subtract= x%y
    return subtract

In [ ]:
remainder(2,6)

2

In [ ]:
def card_hide(x):
    print(("***********")+x[12:])

In [ ]:
card_hide("1234123456785678")

***********5678

In [ ]:
def stutter(x):
    return x[0:2]+"... "+x[0:2]+"... "+x

In [ ]:
stutter('Talha')

'Ta... Ta... Talha'

In [ ]:
def sumfive(x):
    greater=[]
    for i in x:
        if i>5:
            greater.append(i)
    return sum(greater)

In [ ]:
sumfive([1, 5, 20, 30, 4, 9, 18])

77

In [ ]:
#NOTES

In [ ]:
test = [1,2,2,"string"]
letters = ["b","v","a","e","d","s","g"]
letters2=["r","e","w"]
test[1]
test.index("string")
test[-1:-2]

sorted(letters)

letters.append("t")
letters

print(letters+letters2)

letters.extend(letters2)
letters.pop(-1)

['b', 'v', 'a', 'e', 'd', 's', 'g', 't', 'r', 'e', 'w']

'w'

In [ ]:
letters.clear()
print(letters)

[]

In [ ]:
something=[1,2,3,5,3,2]
del something[1:3]
something

[1, 5, 3, 2]

In [ ]:
#TEST SET

In [ ]:
testset=set([1,3,2,5,2,2])
testset

{1, 2, 3, 5}

In [ ]:
testset.add(6)
testset

{1, 2, 3, 5, 6}

In [ ]:
testset.remove(5)
testset

{1, 2, 3, 6}

In [ ]:
#TUPLE -IMMUTABLE LIST

In [ ]:
testtuple=tuple([1,2,3])
testtuple

(1, 2, 3)

In [ ]:
#DICTIONARY

In [ ]:
testdictionary={1:"apple",2:"tree",3:"banana"}
#1,2,3 = keys
testdictionary.keys()
testdictionary.values()

dict_values(['apple', 'tree', 'banana'])

In [ ]:
2 in testdictionary
#same as
2 in testdictionary.keys()

True

In [ ]:
"banana" in testdictionary.values()

True

In [ ]:
#ADD VALUE
testdictionary[4]="orange"

In [ ]:
testdictionary
#orange added as a value, with 4 as the key

{1: 'apple', 2: 'tree', 3: 'banana', 4: 'orange'}

In [ ]:
color=["red","blue","black","blue"]
total=0
for i in color:
    if i == "blue":
        total+=1
print(str(total)+" blue's")

2 blue's

In [ ]:
def remove(x):
    word=x.split(".")
    print(int(word[0]) + int(word[1]))

In [ ]:
remove("230.00000000")

230

In [ ]:
def inbounds(x):
    next = sorted(x)
    return next[-2]

In [ ]:
inbounds([54, 23, 11, 17, 10])

23

In [ ]:
def addname(x,y,z):
    dictionary = x
    dictionary[y]=z
    return dictionary

In [ ]:
addname({ "piano": 500 }, "Brutus", 400)

{'Brutus': 400, 'piano': 500}

In [ ]:
def pbonus(x,y):
    if x > y:
        return False
    elif x+6 < y:
        return False
    elif x==y:
        return False
    else:
        return True

In [ ]:
pbonus(3,3)

False

In [ ]:
pbonus(3,6)

True

In [ ]:
def objecttoarray(x):
    final=[]
    for i in x:
        final.append([i,x[i]])
    print(final)

In [ ]:
objecttoarray({
  "D": 1,
  "B": 2,
  "C": 3
})

[['D', 1], ['B', 2], ['C', 3]]

In [ ]:
def areaofc(x,y):
    area= round(((y/148940000)*100),2)
    return f"{x} is {area}% of the total world's landmass"

    #return str(x) +" is "+ str(area) + "%" + " of the total world's landmass"
    #round function used!

In [ ]:
areaofc("USA",9372610)

"USA is 6.29% of the total world's landmass"

In [ ]:
def pin(x):
    value = True
    number = "1234567890"
    if len(x)== 4 or len(x) == 6:
        for i in x:
            if i not in number:
                value = False
    else:
        return ("Not enough numbers for PIN")
    print(value)
        
            
        
        
        #numerical and no white space

In [ ]:
pin("1234")

True

In [ ]:
def add(a,b):
    value = True
    if a=="" or b =="":
        print("invalid operation")
   
    elif a==str(a) and b==str(b):
            integerab = int(a)+int(b)
            print(str(integerab))
    else:
        print("Invalid operation")

In [ ]:
add("111","111")

222

In [ ]:
def countupper(x):
    total=0
    for i in x:
        for e in i:
            if e == e.upper():
                total +=1
    print(total)

In [ ]:
countupper(["SOLO", "hello", "Tea", "wHat"])

6

In [ ]:
#DNA to RNA conversion
def drna(x):
    final = ""
    for i in x:
        if i =="A":
            final+= "U"
        if i =="T":
            final+= "A"
        if i =="G":
            final+="C"
        if i =="C":
            final+="G"
    print(final)

In [ ]:
drna("ATTAGCGCGATATACGCGTAC")

UAAUCGCGCUAUAUGCGCAUG

In [ ]:
#Change each letter given to next letter in alphabet
def move(x):
    alph= "abcdefghijklmnopqrstuvwxyz"
    final1=""
    for i in x:
        if i in alph:
            final = alph.index(i)+1
            final1+=alph[final]
    print(f"'{final1}'")

In [ ]:
move("hello")

'ifmmp'

In [ ]:
def compact(x):
    list1 =[1,2,3,4,5,6,7,8,9]
    new = []
    for i in x:
        if i in list1:
            new.append(i)
    print(new)
    #Getting a match from the list given

In [ ]:
compact([0, 1, False, 2, "", 3])

[1, 2, 3]

In [ ]:
#Dictionary practice
s = {0:10, 1:20}
s[2] = 30   
print(s)

{0: 10, 1: 20, 2: 30}

In [ ]:
s[1] = 50
print(s)

{0: 10, 1: 50, 2: 30}

In [ ]:
for i in s:
    print(i)

0
1
2

In [ ]:
for i in s:
    s[i] = s[i] + 800
print(s)

{0: 810, 1: 850, 2: 830}

In [ ]:
#Remove the letters a,b,c from a given string, if a,b,c are not in the string, return null

def remove(x):
    final = x
    for i in final:
        if i == "a":
            final = final.replace("a", "")
        if i == "b":
            final = final.replace("b", "")
        if i == "c":
            final = final.replace("c", "") 
        if "a" not in x and "b" not in x and "c" not in x:
            final = "Null"
                
    print(final)

In [ ]:
remove("apple")

pple

In [ ]:
remove("hello")

Null

In [ ]:
#Sort the list and give the second highest value
def second(x):
    a= sorted(x)
    print(a)
    print(str(a[-2])+" is the second highest value")

In [ ]:
second([10,40,20,50,30])

[10, 20, 30, 40, 50]
40 is the second highest value

In [ ]:
def fizz(x):
    if x%3==0 and x%5==0:
        print("fizzbuzz")
    elif x%3==0:
      print("fizz")
    elif x%5==0:
        print("buzz")
    else:
        print("Not fizz, buzz, or fizzbuzz")

In [ ]:
fizz(3)

fizz

In [ ]:
fizz(5)

buzz

In [ ]:
fizz(15)

fizzbuzz

In [ ]:
fizz(4)

Not fizz, buzz, or fizzbuzz

In [ ]:
def profit(x):
    cost_price= x["cost_price"]
    sell_price= x["sell_price"]
    inventory= x["inventory"]
    
    cost = cost_price * inventory
    sell = sell_price * inventory
    profit = sell-cost
    print(int(round(profit,1)))

In [ ]:
profit({
  "cost_price": 225.89,
  "sell_price": 550.00,
  "inventory": 100
})

32411

In [ ]:
def numeric(x):
    numbers = [1,2,3,4,5,6,7,8,9,0]
    if x in numbers and x == int(x):
        print(True)
    else:
        print(False)

In [ ]:
numeric(1)

True

In [ ]:
numeric('hello')

False

In [ ]:
def cv(a,b):
    a=set(a)
    b=set(b)
    match=[]
    
    for i in a:
        if i in b:
            match.append(i)
    print(match)

In [ ]:
cv('the','line')

['e']

In [ ]:
def anagram(a,b):
    a=a.replace(" ", "")
    b=b.replace(" ", "")
    aas = sorted(a) 
    bbs = sorted(b)
    if len(aas) == len(bbs):
        for i in range(len(aas)):
            if aas[i]==bbs[i]:
                pass 
            else:
                return False
        return True
    else:
        return False

In [ ]:
anagram('toy', 'yo t')

True

In [ ]:
def anagram2(s1,s2):
    s1 = s1.replace(" ","").lower()
    s2 = s2.replace(" ","").lower()
    
    if len(s1) != len(s2):
        return False
    
    count = {}
    
    for letter in s1:
        if letter in count:
            count[letter] += 1
        else:
            count[letter] = 1
            
    for letter in s2:
        if letter in count:
            count[letter] -= 1
        else:
            count[letter] = 1
            
    for k in count:
        if count[k] !=0:
            return False
    
    return True

In [ ]:
anagram('toy', 'yo t')

True

In [ ]:
anagram("public relations", "crap built on lies")

True

In [ ]:
#Find the missing element

def missing(n,m):
    list1={}
    for i in n:
        if i in list1:
            list1[i] += 1
        else:
            list1[i] = 1
    for i in m:
        if i in list1:
            list1[i] -= 1
        else:
            list1[i] = 1
    for k in list1:
        if list1[k] !=0:
            print(str(k) + " is the missing number")

In [ ]:
missing([1,2,3,4,5,6,7],[3,7,2,1,4,6])

5 is the missing number

In [ ]:
def h1(x,y):
    x=sorted(x)
    y=sorted(y)
    
    for i in range(len(x)):
        if x[i] == y[i]:
            pass
        else:
            return x[i]

In [ ]:
h1([1,2,3,4,5,6,7],[3,7,2,1,4,6])

5

In [ ]:
#FIND THE VOWELS
def vowels(a):
    vowels=('a,e,i,o,u')
    match=[]
    for i in a:
        if i in vowels:
            match.append(i)
    print(match)
    count=0
    for i in match:
        count+=1
    print(str(count)+ " vowels")
    print(f"{str(count)} {match[0]} ")
    
    #if i in a and i in vowels:
    #print i

In [ ]:
vowels("Talha")

['a', 'a']
2 vowels
2 a

In [ ]:
#Simple way

def vowel2(a):
  vowels=('a,e,i,o,u')
  for i in a:
    if i in vowels:
      print(i)

In [ ]:
vowel2("Talha")

a
a

In [ ]:
#SENTENCE REVERSAL
#"THIS IS THE BEST"= "BEST THE IS THIS" ALSO "    SPACE HERE  " = "SPACE HERE"
#QUICK WAY IS TO USE SPLIT() AND SLICING FUNCTIONS

def rev_word(s):
    words=[]
    length=len(s)
    spaces=[' ']
    i=0 #initiallizing the while loop
    #print(length)=31
    
    while i<length:
        #while i is less than 31
        if s[i] not in spaces:
            word_start=i
            while i<length and s[i] not in spaces:
                i+=1
            else:
                print(i)
            words.append(s[word_start:i])
            print(words)
        i+=1
    return " ".join(reversed(words))

#WRITE REVERSED FUNCTION

In [ ]:
rev_word("   Hello John   how are you    ")

8
['Hello']
13
['Hello', 'John']
19
['Hello', 'John', 'how']
23
['Hello', 'John', 'how', 'are']
27
['Hello', 'John', 'how', 'are', 'you']

'you are how John Hello'

In [ ]:
#STRING COMPRESSION
#AAAaaaBBbbCc = A3a3B2b2C1c1

def compress(s):
    r=""
    l=len(s)
    
    if l==0:
        return ""
    if l==1:
        return s+"1" 
    last=s[0]
    count=1
    i=1
    
    while i<l:
        #Giving it parameters, stop at the 11th value
        if s[i]==s[i-1]:
            #AAAaaaBBbbCc
            #Why isn't this "+1"
            count +=1
        else:
            r=r+s[i-1]+str(count)
            #Establishing the same characters counted so far, "A3"
            count=1
            #This restarts the counter for the next unmatching letter
        i+=1
        
    r=r+s[i-1]+str(count)
    return r


#if i<1
#   if s[i]==s[i-1]:
#       count+=1

In [ ]:
compress('AAAaaaBBbbCc')

'A3a3B2b2C1c1'

In [ ]:
def reverse(a):
    space = " "
    start = False
    word = ""
    listwords=[]
    
    for i in a:
        if i != space:
            start = True
        if start == True:
            if i == space:   #Checking the space where the word ends
                listwords.append(word)
                print(word)
                start = False
                word = ""
                pass
            else:
                word = word + i
    print(listwords)
    return " ".join(reversed(listwords))

In [ ]:
reverse("   the tree is green     ")

the
tree
is
green
['the', 'tree', 'is', 'green']

'green is tree the'

In [ ]:
#Unique characters

def unique(a):
  one=set()

  for i in a:
    if i in one:
      return False
    else:
      one.add(i)
  return True

In [ ]:
unique("abcde")

True

In [ ]:
unique("abccde")

False

In [ ]:
#Short way for unique characters

def uni(s):
  return len(set(s))==len(s)

In [ ]:
uni("abcde")

True

In [ ]:
uni("abdde")

False

In [ ]:
#Array Pair Sum
def pair(arr,k):
  if len(arr)<2:
    print("Need more numbers")
  seen=set()
  output=set()

#[1,2,2,3] =arr
# 4 = k
#(2,2)
#(1,3)

  for num in arr:
    target = k-num
    if target not in seen:
      seen.add(num)
    else:
      output.add(((min(num,target)),max(num,target)))
      print(num,target)
  print('\n'.join(map(str,list(output))))
  
  #'/n' adds a 'return' for a variable

In [ ]:
pair([1,2,2,3],4)

2 2
3 1
(1, 3)
(2, 2)

In [ ]:
def anagram(a,b):
    a=a.replace(" ","").lower()
    b=b.replace(" ","").lower()
    a=sorted(a)
    b=sorted(b)

    if len(a)==len(b):
        for i in range(len(a)):
            if a[i]==b[i]:
                pass
            else:
                return False
        return True
    else:
      return False

In [ ]:
anagram("the","the")

True

In [ ]:
#Next practice problem

In [ ]:
def anagram(a,b):
  a=a.replace(" ","").lower()
  b=b.replace(" ","").lower()
  a=sorted(a)
  b=sorted(b)

  if len(a)==len(b):
    for i in range(len(a)):
      if a[i]==b[i]:
        pass
      else:
        return False
    return True
  else:
    return False

In [ ]:
anagram("the","teh")

NameError: ignored

In [ ]:
def missing(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k)+ " is the missing value")
    else:
      print("nothing is missing")

In [ ]:
missing([1,2,3,4],[1,4,2])

nothing is missing
nothing is missing
3 is the missing value
nothing is missing

In [ ]:
#Short Anagram Method
def ana(a,b):
  if sorted(a)==sorted(b):
    print("This is an anagram")
  else:
    print("Not an anagram")

In [ ]:
ana("the","tee")

Not an anagram

In [ ]:
def ana(a,b):
  a=a.replace(" ","").lower()
  b=b.replace(" ","").lower()
  a=sorted(a)
  b=sorted(b)

  if len(a)==len(b):
    for i in range(len(a)):
      if a[i]==b[i]:
        pass
      else:
        return False
    return True
  else:
    return False

In [ ]:
ana("toy","yyot")

False

In [3]:
def anagram(a,b):
  if sorted(a)==sorted(b):
    return True
  else:
    print("False")

In [6]:
anagram("toy","toy")

True

In [ ]:
def missing(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k)+" is the missing number")
    else:
      print("nothing is missing")

In [ ]:
missing([1,2,3,4],[1,4,2])

nothing is missing
nothing is missing
3 is the missing number
nothing is missing

In [ ]:
#Unique Characters

def uni(s):
  return len(set(s))==len(s)

In [ ]:
uni("abcde")

True

In [ ]:
def missing(a,b):
  miss={}
  for i in a:
    if i in miss:
      miss[i]+=1
    else:
      miss[i]=1
  for i in b:
    if i in miss:
      miss[i]-=1
    else:
      miss[i]=1
  for k in miss:
    if miss[k]!=0:
      print(str(k) + " is the missing number")
    else:
      print("nothing is missing")

In [ ]:
missing([1,2,3,4],[1,4,2])

nothing is missing
nothing is missing
3 is the missing number
nothing is missing

In [ ]:
animals = ["cheetah", "tiger", "cheetah", "lion"]
total = 0
for i in animals:
    if i == "cheetah":
        total += 1
        print(str(total) + "cheetahs")

1cheetahs
2cheetahs

In [ ]:
def areaofcountry(x,y):
    def area(y):
        country=(y/148940000) *100
        return country
    return "{country} is {area}% of the total world's landmass".format(country=x, area=area(y))

In [ ]:
areaofcountry("USA", 9372610)

"USA is 6.29287632603733% of the total world's landmass"

In [ ]:
def remainder(x,y):
    subtract= x%y
    return subtract

In [ ]:
remainder(1,3)

1

In [1]:
student={'name':'John','age':25,'hobby':'golf'}

print(student['age'])
age = student.pop('age')
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

for key in student:
    print("keys "+key)
    
for key, value in student.items():
    print(key,value)

25
2
dict_keys(['name', 'hobby'])
dict_values(['John', 'golf'])
dict_items([('name', 'John'), ('hobby', 'golf')])
keys name
keys hobby
name John
hobby golf

In [7]:
#DNA to RNA conversion
def drna(x):
    final = ""
    for i in x:
        if i =="A":
            final+= "U"
        if i =="T":
            final+= "A"
        if i =="G":
            final+="C"
        if i =="C":
            final+="G"
    print(final)

In [8]:
drna("ATTAGCGCGATATACGCGTAC")

UAAUCGCGCUAUAUGCGCAUG